.task-item {
  width: 40rem;
  height: 90px;
  margin: 12px auto;
  display: flex;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  background-color: #868e96;
  color: #fff;
  position: relative;
}
.task-item__date {
  height: 70px;
  width: 100px;
  border: 2.5px solid #fff;
  border-radius: 12px;
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.task-item__title {
  padding: 20px 20px;
}
.task-item__rate {
  height: 70px;
  width: 100px;
  background-color: #15aabf;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  position: absolute;
  right: 20px;
}
