* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #1c7ed6;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #f7f7f7;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 5 40px 50px #f7f7f7;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.userInput {
  width: 250px;
  height: 40px;
  border-radius: 5px;
}
.btn {
  width: 250px;
  height: 40px;
  background-color: #74c0fc;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
}
