<style>
  .privacy-portal-table table {
    border-collapse: collapse !important;
    width: 100% !important;
  }
  .privacy-portal-table td,
  th {
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    text-align: left !important;
    padding: 8px !important;
  }
</style>
<strong>A. Technologies</strong><br />
This section describes the Cookies and similar technologies used by UScellular.
<br /><br />
A cookie is a very small file that’s set on your web browser by a website.
Cookies serve as a kind of memory and may save preferences such as your
username, region or language. Cookies are generally used by websites to improve
your user experience by enabling those websites to 'remember' you, either
strictly for the duration of your visit (using a “session” cookie which is
erased when you close your browser) or for repeat visits (using a "persistent"
cookie). Some cookies contain a unique identifier called a cookie ID, which is a
string of characters that websites and servers associate with the browser on
which the cookie is stored. This allows websites and servers to distinguish the
browser from other browsers that store different cookies, and to recognize each
browser by its unique cookie ID.
<br /><br />
HTML storage functions similarly to cookies but without the size limitations.
For example, cookies are generally restricted to 4 kilobytes of data whereas
HTML storage permits 5 – 10 megabytes.
<br /><br />
A web beacon, or a tag, is a very small image that has been embedded within a
web page or an email. When you access a web page or an email with a tag, your
device will download this very small image, thus exchanging information in the
process.

<br /><br />
<strong>B. First vs. Third-Party Cookies</strong><br />
UScellular uses first and third-party Cookies.<br />
<br />
First-party Cookies are created and set by the website you are visiting whereas
third-party cookies are created and set by domains other than the website you
are visiting.
<br /><br />
<strong> C. Cookie Categories</strong><br />
UScellular uses the following categories of Cookies.
<br /><br />
<div class="privacy-portal-table" style="overflow: auto">
  <table style="min-width: 600px !important">
    <tr>
      <th
        width="15%"
        style="
          font-family: 'Brandon Bold';
          background-color: #f4f0e8 !important;
        "
      >
        Sources:
      </th>
      <th
        style="
          font-family: 'Brandon Bold';
          background-color: #f4f0e8 !important;
        "
      >
        Category of Third Parties Shared With:
      </th>
    </tr>
    <tr>
      <td
        style="
          font-family: Brandon Medium !important;
          background-color: #fbfbfb !important;
        "
      >
        <ul class="usc-bullet__list">
          <li style="font-size: inherit">Directly from you</li>
          <li style="font-size: inherit">
            Information collected from others, including third party data
            brokers
          </li>
        </ul>
      </td>
      <td style="background-color: #fbfbfb !important">
        <ul class="usc-bullet__list">
          <li style="font-size: inherit">Our Service Providers</li>
          <li style="font-size: inherit">
            Government authorities or other entities with the legal authority
          </li>
          <li style="font-size: inherit">
            Third parties with whom you intentionally interact
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
