<h3
  class="usc-collapse__description"
  style="padding-left: 0px; font-weight: bold"
>
  A. Personal Information We Collect
</h3>
Personal Information is information that identifies, relates to, describes, is
reasonably capable of being associated with, or could reasonably be linked,
directly or indirectly, with you. Personal Information does not include
anonymous or de-identified information that cannot personally identify you, your
accounts or devices.
<br /><br />
The following provides a summary of:
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    The categories of Personal Information we collect;
  </li>
  <li style="font-size: inherit">
    The categories of sources from which we collect Personal Information;
  </li>
  <li style="font-size: inherit">
    The business or commercial purpose for which we collect Personal
    Information; and
  </li>
  <li style="font-size: inherit">
    The categories of third parties with whom USCC shares Personal Information.
  </li>
</ul>
<hr style="border-top: 1px" />
<strong>1. Contact Information and other Personal Identifiers</strong><br />
Personal Identifiers are Personal Information that identifies the person such as
name, physical and email addresses, telephone numbers, date of birth, Social
Security Numbers, Driver's License Numbers, credit card or financial account
information or Customer Proprietary Network Information (CPNI). Personal
Information does not include anonymous or de-identified information that cannot
personally identify you, your accounts or devices.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">Auditing Digital Interactions</li>
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">
        Information collected from others, including third party data brokers
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Account Owners and Authorized Contacts</li>
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">
        Third parties with whom you intentionally interact
      </li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>2. Customer Proprietary Network Information (CPNI)</strong><br />
CPNI is a specific type of Personal Information that relates to and includes
information that we have about you because of the wireless telecommunication
services we provide to you. Please refer to our
<a
  class="internal-section-link cpni-notice"
  href="/privacy/privacy-policies-notices#cpni-notice"
  >CPNI Notice</a
>
for more information. <br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        We collect automatically when you use our services
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Account Owners and Authorized Contacts</li>
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Roaming Networks</li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">
        Third parties with whom you intentionally interact
      </li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong
  >3. Protected classification characteristics under California or federal
  law</strong
><br />
Federal and State laws identify certain characteristics as protected
classifications which may include age (40 years or older), race, ancestry,
national origin, citizenship, marital status, gender, veteran or military
status.
<br /><br />
As a federal contractor, UScellular is required to invite job applicants to
voluntarily identify gender and race along with veteran and disability status.
Any information provided as part of this process will be kept in a confidential
file separate from the employment application, will not be used as a basis in
any decision, and will not be made available to individuals involved in the
interview/employment process.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">
        Information collected from others, including third party data brokers
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>4. Credit and Financial Information</strong><br />
Credit and Financial Information are specific types of Personal Information that
relate to your financial or commercial relationship with us, including your
credit history, credit card numbers, banking information, and payment history
for opening and managing your account as well as for billing and collection
purposes.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Auditing Digital Interactions Detecting and Preventing Security Incidents
    and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">Collected from others</li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>5. Commercial Information</strong><br />
Commercial Information is information about a consumer's records of personal
property, products or services purchased, obtained or considered, or other
purchasing or consuming histories or tendencies.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">Auditing Digital Interactions</li>
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">Collected from others</li>
      <li style="font-size: inherit">
        We collect automatically when you use our Services
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Account Owners and Authorized Contacts</li>
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">
        Third parties with whom you intentionally interact
      </li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>6. Network and Device Information</strong><br />
Network and Device Information is collected when you use our Services. Certain
information such as Advertising IDs and persistent device identifiers may
directly or indirectly identify you or your device and may be considered a type
of Personal Information. Device identifiers include Electronic Serial Numbers
(ESN) and mobile equipment identifiers (MEID) which are static numbers linked to
a device. Advertising IDs are randomly generated codes on a mobile device that
may be changed by the user. This type of information may help identify the same
user across multiple devices or channels. Network and Device Information also
may include call records, websites and URLs visited, advertisements clicked,
WiFi usage, roaming, browsing history, IP addresses, and device data (battery
life, application use, operating system, software configurations). We may
collect cookies, web beacons and similar technology. Please refer to our Cookie
Policy for more information.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">Auditing Digital Interactions</li>
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        We collect automatically when you use our Services
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Account Owners and Authorized Contacts</li>
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Roaming Networks</li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">
        Third parties with whom you intentionally interact
      </li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>7. Internet or other similar network activity</strong><br />
Internet Activity, Cookie Data or other electronic network activity information
may include browsing history, search history, Network Identifiers such as
browsing history, search history, IP addresses or advertisement.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">Auditing Digital Interactions</li>
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">We collect automatically</li>
      <li style="font-size: inherit">Third party data brokers and others</li>
      <li style="font-size: inherit">From Cookies</li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Roaming Networks</li>
      <li style="font-size: inherit">Third parties</li>
      <li style="font-size: inherit">Third Party Service Providers</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>8. Location Information</strong><br />
Location Information is collected when you provide it directly to us and when
you use our Services. Location Information may include your physical address,
zip code, and a physical address associated with an IP address. Mobile device
location may be the location of the tower with the associated sector and azimuth
that the device is connected to, or the latitude and longitude of a mobile
device within a given radius. Certain Services may also collect precise
geolocation information in order to provide you with real time location-based
services. Certain types of Location Information may be considered Personal
Information.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">Auditing Digital Interactions</li>
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">
        We collect automatically when you use our Services
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Account Owners and Authorized Contacts</li>
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Roaming Networks</li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">
        Third parties with whom you intentionally interact
      </li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>9. Sensory and other Biometric Data</strong><br />
Sensory and Biometric Information includes electronic, visual and audio
information that may be collected when you contact us, or we contact you via our
Customer Care services, such as voice recordings or voiceprints, images, other
biometric identifiers. Biometric identifiers will not be collected without your
express permission. Please refer to the
<a
  class="internal-section-link biometric-information"
  href="/privacy/privacy-policies-notices#biometric-information"
  >Biometric Information Policy</a
>
for more information. <br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">
    Identifying and Repairing Errors Performing Services including Support
    Activities
  </li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">
        We collect Sensory Data automatically when you use our Service
      </li>
      <li style="font-size: inherit">
        Biometric identifiers will not be created without your express consent
      </li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>10. Cookie Data</strong><br />
We set cookies and similar technologies (collectively defined as "Cookies") on
your web browser when you visit our website. These Cookies collect information
that may describe you, your device or your web browsing activity. We mostly use
this information to improve our website and to provide you with a great user
experience. Please refer to the
<a
  class="internal-section-link cookie-policy"
  href="/privacy/privacy-policies-notices#cookie-policy"
  >Cookie Policy</a
>
for more information. <br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">Auditing Digital Interactions</li>
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Short-term, Transient Collection and Use</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">We collect automatically</li>
      <li style="font-size: inherit">Cookies</li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Independent third parties</li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">
        Third parties with whom you intentionally interact
      </li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>11. Inferences drawn from other Personal Information</strong><br />
Inferences are information drawn from any of the Personal Information described
within this Privacy Policy used to create a profile about a consumer reflecting
the consumer’s preferences, psychological trends, predispositions, behavior,
attitudes, intelligence, abilities, and aptitudes.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">Identifying and Repairing Errors</li>
  <li style="font-size: inherit">
    Internal Research for Technological and Product Development
  </li>
  <li style="font-size: inherit">
    Maintaining the Quality, Safety and Integrity of Services
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">We collect automatically</li>
      <li style="font-size: inherit">Third party data brokers and others</li>
      <li style="font-size: inherit">From Cookies</li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
      <li style="font-size: inherit">UScellular Agents and Partners</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>12. Professional or employment related Information</strong><br />
Professional or Employment Related Information is information related to your
employment, including, but not limited positions that you have held, and
professional certifications or licenses.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">Collected from third parties</li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />
<strong>13. Education Information</strong><br />
Education Information includes direct identifiers, such as a student's name or
identification number, indirect identifiers, such as a student's date of birth,
or other information which can be used to identify an individual and may include
student records maintained by the educational institution or the completed level
of education.
<br /><br />
<strong>General Business Purposes:</strong>
<ul class="usc-bullet__list">
  <li style="font-size: inherit">
    Detecting and Preventing Security Incidents and Fraud
  </li>
  <li style="font-size: inherit">
    Performing Services including Support Activities
  </li>
  <li style="font-size: inherit">Workforce Management</li>
</ul>
<div class="privacyPolicy-informationWeCollect-section">
  <span>
    <strong>Sources:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">Directly from you</li>
      <li style="font-size: inherit">Collected from third parties</li>
    </ul>
  </span>
  <span>
    <strong>Category of Third Parties Shared With:</strong><br />
    <ul class="usc-bullet__list">
      <li style="font-size: inherit">
        Local, State, or Federal Government Authorities or other entities with
        the legal authority
      </li>
      <li style="font-size: inherit">Third Party Service Providers</li>
    </ul>
  </span>
</div>

<hr style="border-top: 1px" />

<h3
  class="usc-collapse__description"
  style="padding-left: 0px; font-weight: bold"
>
  B. Collection of Information About Children
</h3>
Our Services are for general audiences and are not designed to be used by
children. We do not knowingly collect information from children under the age of
(13) thirteen unless we have obtained parental consent through activities such
as a marketing promotion.
<br /><br />
<h3
  class="usc-collapse__description"
  style="padding-left: 0px; font-weight: bold"
>
  C. Information You Provide to Us
</h3>
You provide information to UScellular when you directly interact with us. When
you come into a store, call us, access our website, initiate a web chat,
participate in a sponsored program, or take a survey; you may provide
information such as your name, mailing address, telephone number or email
address. You may provide your reason(s) for interacting with us, answers to
surveys, voice recordings, and recordings collected in stores.
<br /><br />
When you initiate establishing an account with us, you may provide your date of
birth, Social Security Number, Driver's License Number, credit card information,
images, and create authentication information such as 4-digit PIN number or
security questions and answers. When you apply for a position with UScellular,
you may provide your Professional or Employment-Related Information or Education
Information, as well as your authorization to collect your consumer report or
background information as part of the application process.
<br /><br />
<h3
  class="usc-collapse__description"
  style="padding-left: 0px; font-weight: bold"
>
  D. Information We Collect Automatically
</h3>
We automatically collect your information when you access or use our Services.
We may collect information about your activity and use of our Services such as
calls, texts and picture messages sent and received including the associated
numbers; date, time and call duration; websites, applications, or services
accessed; browsing history; clickstream data; referral URLs and pages visited;
and search terms.
<br /><br />
We may automatically collect data about your device such as your mobile number;
Advertising IDs; ESN(s) and MEID(s); operating system, device settings; software
configuration; make and model of the device; applications installed on the
device; signal strength; IP address; and connection speeds.
<br /><br />
We may automatically collect information when you visit our websites, use our
mobile applications, or register for our sponsored events.
<br /><br />
We may automatically collect information when you directly interact with an
associate in a store or call into one of our Customer Care centers. We may
record the communication, and any transaction that occurs when you contact us,
or when we contact you, via our Customer Care services, online webchat portal,
or email.
<br /><br />

<h3
  class="usc-collapse__description"
  style="padding-left: 0px; font-weight: bold"
>
  E. Information Collected from Others
</h3>
We may acquire information about you from credit agencies, financial
institutions and other independent third party sources, including third party
data brokers. These entities may collect information from varying sources such
as public records, government entities, loyalty cards, advertising networks and
social media.
<br /><br />
The information we collect may include credit reports, consumer reports,
criminal records, military records and references, and have information such as
gender, age, education level, occupation, marital status, children in household,
home value, and categories of interest like reading, music, or sports. We may
also obtain information from current UScellular customers through referral
programs and may combine it with information we have to contact you, or direct
UScellular marketing offers that may be of interest to you.
